/* make nice links*/
a {
    color: black;
}

a:hover {
    color: red;
}

/*
.menu ul li a {
    padding-right: 12px;
}
*/

/* get some nice fonts */
#blog-title a {
    float: right;
    font-family: 'Anonymous Pro', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.2em;
    word-spacing: 0em;
    line-height: 1;
}

/* don't color visited blog title */
#blog-title a:hover {
    color: black;
}

/* menu aka wp pages */
#access ul li a {
    float: left;
    font-family: 'Anonymous Pro', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    padding-right: 4%;
}

/* body text */
#main {
    font-family: 'Anonymous Pro', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}

body {
    width: 800px;
}
